html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --primary: #de4b3e;
  --secondary: #c74237;
  --thirty: #3d63f7;
}

.text {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.4;
}

.text--light {
  font-weight: 300;
}

.text--normal {
  font-style: normal;
}

.text--default {
  color: #999;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  color: #333;
  font-size: 1.4rem;
}

input,
button {
  font-family: "Montserrat", sans-serif;
  outline: none;
  line-height: 1;
}

button {
  cursor: pointer;
}

img {
  cursor: zoom-in;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 5rem auto;
}

.menu-item {
  margin: 0 2.5rem;
}

.menu-link {
  display: inline-block;
  color: #000;
  position: relative;
}

.line-effect {
  width: 0;
  height: 2px;
  background-color: var(--thirty);
  position: fixed;
  pointer-events: none;
  transition: all 0.25s linear;
}
