html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --primary: #de4b3e;
  --secondary: #c74237;
  --thirty: #3d63f7;
}

.text {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.4;
}

.text--light {
  font-weight: 300;
}

.text--normal {
  font-style: normal;
}

.text--default {
  color: #999;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  color: #333;
  font-size: 1.4rem;
}

input,
button {
  font-family: "Montserrat", sans-serif;
  outline: none;
  line-height: 1;
}

button {
  cursor: pointer;
}

img {
  cursor: zoom-in;
}

.form {
  width: 50rem;
  margin: 2.5rem auto;
  padding: 2.5rem;
  border-radius: 2.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
}

.form input {
  display: block;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  border: 1px solid #eee;
  border-radius: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
}

.form .toogle {
  position: absolute;
  top: 50%;
  right: 45px;
  transform: translateY(-50%);
  transition: all 0.25s linear;
  cursor: pointer;
}
